<!DOCTYPE HTML>
<html>
	<head>
		<title>Mobike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
        
			<header id="header">
				<h1>Pago de servicio</h1>
                <h2>Pato Andres</h2>
			</header>

		
			<form id="signup-form" method="post" action="#">
                <div class="form-row">
                    <p>Bicicleta:<input type="text" placeholder="MB009" disabled ></p>
                    <p>Ubicación:<input type="text" placeholder="Av. Larrain" disabled ></p>
                    <p>Hora salida:<input type="text" placeholder="1:00 PM" disabled ></p>
                    <p>Hora Termino:<input type="text" placeholder="3:00 PM" disabled ></p>
                </div>
			</form>

        <div id="tercera_seccion">
            
            <select>
			<option selected>Metodo de pago</option>
			<option>Debito</option>
			<option>Credito</option>
			</select>
            <br>
            <input type="submit" value="Pagar" />
            <br>
            <br>
            <p>Total:<input type="text" placeholder="$4500" disabled></p>
        </div>
			<script src="assets/js/main.js"></script>

	</body>
</html>