<!DOCTYPE HTML>
<html>
	<head>
		<title>Mobike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body >
        
			<header id="header">
				<h1>Hola, Pato Andres</h1>
                
			</header>
        
            <table>
              <tr>
                <th><b>Nombre (Bicicleta)</b></th>
                <th><b>Ubicación</b></th>
                <th><b>Estado</b></th>
              </tr>
              <tr>
                <td>MB003</td>
                <td>Av. Larrain</td>
                <td>Disponible</td>
              </tr>
              <tr>
                <td>MB009</td>
                <td>Av. Echeñique</td>
                <td>Disponible</td>
              </tr>
              <tr>
                <td>MB011</td>
                <td>Av. Echeñique</td>
                <td>Mantención</td>
              </tr>
              <tr>
                <td>MB015</td>
                <td>******</td>
                <td>En uso</td>
              </tr>
              <tr>
                <td>MB021</td>
                <td>Las perdices</td>
                <td>Mantención</td>
              </tr>
              <tr>
                <td>MB002</td>
                <td>Av. Simon Bolivar</td>
                <td>Disponible</td>
              </tr>
            </table>

			<script src="assets/js/main.js"></script>

	</body>
</html>