<!DOCTYPE HTML>
<html>
	<head>
		<title>Mobike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
        
			<header id="header">
				<h1>Arriendo de bicicleta</h1>
                <h2>Pato Andres</h2>
			</header>

		
			<form id="signup-form" method="post" action="#">
                <div class="form-row">
                    <p>Bicicleta:<select>
			         <option selected>MB009</option>
			         <option>MB010</option>
			         <option>MB011</option>
                    </select></p>
                    <p>Ubicación:<select>
			         <option selected>Av.Larrain</option>
			         <option>Av. Echeñique</option>
			         <option>Av. Simon Bolivar</option>
                     <option>Av. Las perdices</option>
                    </select></p>
                    <p>Hora salida:<input type="text" placeholder="1:00 PM" disabled ></p>
                <input type="submit" value="Confirmar" />
                </div>
			</form>

			<script src="assets/js/main.js"></script>

	</body>
</html>