<!DOCTYPE HTML>
<html>
	<head>
		<title>Mobike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script defer src="https://use.fontawesome.com/releases/v5.4.2/js/all.js" integrity="sha384-wp96dIgDl5BLlOXb4VMinXPNiB32VYBSoXOoiARzSTXY+tsK8yDTYfvdTyqzdGGN" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body >
        
			<header id="header">
				<h1>Sr. Federico</h1>
                
			</header>
        
            <table>
              <tr>
                <th><b>Nombre </b></th>
                <th><b>Estado</b></th>
                <th><i class="fas fa-user-check"></i> <i class="fas fa-user-alt-slash"></i></th>
              </tr>
              <tr>
                <td>Cristian Sanchez</td>
                <td>Disponible</td>
                <td><i class="fas fa-user-check"></i></td>
              </tr>
              <tr>
                <td>Marco Verrati</td>
                <td>Bloqueado</td>
                <td><i class="fas fa-user-alt-slash"></i></td>
              </tr>
              <tr>
                <td>Mario Balotelli</td>
                <td>Disponible</td>
                <td><i class="fas fa-user-check"></i></td>
              </tr>
              <tr>
                <td>Alexis Vidal</td>
                <td>Bloqueado</td>
                <td><i class="fas fa-user-alt-slash"></i></td>
              </tr>
              <tr>
                <td>Marco Asensio</td>
                <td>Disponible</td>
                <td><i class="fas fa-user-check"></i></td>
              </tr>
              <tr>
                <td>Paul Pogba</td>
                <td>Bloqueado</td>
                <td><i class="fas fa-user-alt-slash"></i></td>
              </tr>
            </table>

			<script src="assets/js/main.js"></script>

	</body>
</html>