<!DOCTYPE HTML>

<html>
	<head>
		<title>Mobike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload constainer">


			<header id="header">
				<h1>Mapa La Reina</h1>
			</header>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26632.442508507815!2d-70.55998693936941!3d-33.447865407965224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce6aa173a115%3A0x14eaa870edb3c922!2sLa+Reina%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1540746560031" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

			<footer id="footer">
				<ul class="copyright">
					<li>&copy; Untitled.</li><li>Creditos: <a href="https://www.ecured.cu/Comuna_La_Reina" target="_blank">Comuna la Reina</a></li>
				</ul>
			</footer>


			<script src="assets/js/main.js"></script>

	</body>
</html>